<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Course Schedule</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
<h1>Index Page</h1>
<p>This is just a placeholder page</p>
<div class="container">
	<form action="/_login" method="get">
  <button name="login" type="submit" value="client" class="btn btn-default">Client</button>
  <button name="login" type="submit" value="admin" class="btn btn-primary">Admin</button>  
  </form>
  <script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	function myFunction(val){
		document.getElementById("myForm").submit();
		//var portal = val;
        //$.getJSON($SCRIPT_ROOT + '/_login', { portal: portal} ); // End of the call to getJSON
    };
</script>
  
</div>
  



</body> 


</html>
